<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
      style="table-layout: fixed; background-color: #f9f9f9"
      id="bodyTable"
    >
      <tbody>
        <tr>
          <td
            style="padding-right: 10px; padding-left: 10px"
            align="center"
            valign="top"
            id="bodyCell"
          >
            <table
              border="0"
              cellpadding="0"
              cellspacing="0"
              width="100%"
              class="wrapperBody"
              style="max-width: 600px"
            >
              <tbody>
                <tr>
                  <td align="center" valign="top">
                    <table
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      width="100%"
                      class="tableCard"
                      style="
                        background-color: #fff;
                        border-color: #e5e5e5;
                        border-style: solid;
                        border-width: 0 1px 1px 1px;
                      "
                    >
                      <tbody>
                        <tr>
                          <td
                            style="padding-left: 20px; padding-right: 20px"
                            align="center"
                            valign="top"
                            class="containtTable ui-sortable"
                          >
                            <table
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              width="100%"
                              class="tableDescription"
                            >
                              <tbody>
                                <tr>
                                  <td
                                    align="center"
                                    valign="middle"
                                    style="padding: 20px 0px"
                                    class="emailRegards"
                                  >
                                    <div>
                                      <img
                                        class="box-img"
                                        style="margin: 20px auto"
                                        src="https://www.xircls.com/static/images/website-slide/logo12.jpg"
                                        alt="Image"
                                        width="90px"
                                      />
                                    </div>
                                    <p
                                      class="text"
                                      style="
                                        color: #666;
                                        font-family: 'Open Sans', Helvetica,
                                          Arial, sans-serif;
                                        font-size: 14px;
                                        font-weight: 400;
                                        font-style: normal;
                                        letter-spacing: normal;
                                        line-height: 22px;
                                        text-transform: none;
                                        text-align: center;
                                        padding: 0;
                                        margin: 0;
                                      "
                                    >
                                      <!-- Subject: Thank You for Joining the XIRCLS Influencer Program Waitlist!  -->

                                      Dear {{name}}, <br /><br />

                                      Thank you for your interest in the XIRCLS
                                      Influencer Program! It means the world to
                                      us.
                                      <br /><br />

                                      We are working hard to create an
                                      exceptional influencer program that aligns
                                      with your values and goals. As soon as
                                      it's ready, we'll reach out with all the
                                      exciting details.
                                      <br /><br />

                                      In the meantime, keep shining as an
                                      influencer and inspiring your audience
                                      with your unique voice. We look forward to
                                      collaborating with you. <br /><br />

                                      Stay tuned for updates! <br />
                                      <br />

                                      Best regards, <br />
                                      <br />

                                      The XIRCLS Team <br />
                                      influencers@xircls.com <br />
                                      +91 9969 333 666
                                    </p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
