<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
  </head>
  <body>
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
      style="table-layout: fixed; background-color: #f9f9f9"
      id="bodyTable"
    >
      <tbody>
        <tr>
          <td
            style="padding-right: 10px; padding-left: 10px"
            align="center"
            valign="top"
            id="bodyCell"
          >
            <table
              border="0"
              cellpadding="0"
              cellspacing="0"
              width="100%"
              class="wrapperBody"
              style="max-width: 600px"
            >
              <tbody>
                <tr>
                  <td align="center" valign="top">
                    <table
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      width="100%"
                      class="tableCard"
                      style="
                        background-color: #fff;
                        border-color: #e5e5e5;
                        border-style: solid;
                        border-width: 0 1px 1px 1px;
                      "
                    >
                      <tbody>
                        <tr>
                          <td
                            style="padding-left: 20px; padding-right: 20px"
                            align="center"
                            valign="top"
                            class="containtTable ui-sortable"
                          >
                            <table
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              width="100%"
                              class="tableDescription"
                            >
                              <tbody>
                                <tr>
                                  <td
                                    align="center"
                                    valign="middle"
                                    style="padding: 20px 0px"
                                    class="emailRegards"
                                  >
                                    <div>
                                      <img
                                        class="box-img"
                                        style="margin: 20px auto"
                                        src="https://www.xircls.com/static/images/website-slide/logo12.jpg"
                                        alt="Image"
                                        width="90px"
                                      />
                                    </div>
                                    <p
                                      class="text"
                                      style="
                                        color: #666;
                                        font-family: 'Open Sans', Helvetica,
                                          Arial, sans-serif;
                                        font-size: 14px;
                                        font-weight: 400;
                                        font-style: normal;
                                        letter-spacing: normal;
                                        line-height: 22px;
                                        text-transform: none;
                                        text-align: center;
                                        padding: 0;
                                        margin: 0;
                                      "
                                    >
                                      <b
                                        >You’ve successfully retained a
                                        customer!</b
                                      ><br /><br />
                                      An existing customer just redeemed your
                                      Retention Offer<br /><br />
                                      <b>Customer</b><br />
                                      {{ Name }}<br />
                                      {{ Email }} | {{ Mobile }}<br /><br />

                                      <b>Offer Redeemed</b><br />
                                      {{ OfferTitle }}<br />
                                      {{ OfferValue }}<br />
                                      Code: {{ OfferCode }}<br /><br />

                                      <b>Amount Spent</b><br />
                                      {{ TransactionAmount }}<br /><br />

                                      <b
                                        >Increase Your Customer Retention
                                        Rate</b
                                      ><br />
                                      1. Go to plugin settings
                                      <a href="LINK">LINK</a> and display the
                                      promotional button & pop-up on your
                                      website<br />
                                      2. Display a banner on your website
                                      showcasing this unique offering.<br />
                                      3. Make an announcement on your social
                                      pages to incentivize repeat purchases.<br />
                                      4. Make an announcement in your next
                                      newsletter or emailer and drive customers
                                      back to your website.<br />
                                      5. Have you made an Inner XIRCL? Proudly
                                      mention your partner brands in your
                                      announcements.<br />
                                      <br />

                                      <b>Need help?</b><br />
                                      See our Frequently Asked Questions
                                      <a href="LINK">LINK</a>, contact your
                                      XIRCLS representative or email
                                      <a href="mailto:support@xircls.com"
                                        >support@xircls.com</a
                                      >.<br /><br />
                                    </p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
