<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
      style="table-layout: fixed; background-color: #f9f9f9"
      id="bodyTable"
    >
      <tbody>
        <tr>
          <td
            style="padding-right: 10px; padding-left: 10px"
            align="center"
            valign="top"
            id="bodyCell"
          >
            <table
              border="0"
              cellpadding="0"
              cellspacing="0"
              width="100%"
              class="wrapperBody"
              style="max-width: 600px"
            >
              <tbody>
                <tr>
                  <td align="center" valign="top">
                    <table
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      width="100%"
                      class="tableCard"
                      style="
                        background-color: #fff;
                        border-color: #e5e5e5;
                        border-style: solid;
                        border-width: 0 1px 1px 1px;
                      "
                    >
                      <tbody>
                        <tr>
                          <td
                            style="padding-left: 20px; padding-right: 20px"
                            align="center"
                            valign="top"
                            class="containtTable ui-sortable"
                          >
                            <table
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              width="100%"
                              class="tableDescription"
                            >
                              <tbody>
                                <tr>
                                  <td
                                    align="center"
                                    valign="middle"
                                    style="padding: 20px 0px"
                                    class="emailRegards"
                                  >
                                    <div>
                                      <img
                                        class="box-img"
                                        style="margin: 20px auto"
                                        src="https://www.xircls.com/static/images/website-slide/logo12.jpg"
                                        alt="Image"
                                        width="90px"
                                      />
                                    </div>
                                    <p
                                      class="text"
                                      style="
                                        color: #666;
                                        font-family: 'Open Sans', Helvetica,
                                          Arial, sans-serif;
                                        font-size: 14px;
                                        font-weight: 400;
                                        font-style: normal;
                                        letter-spacing: normal;
                                        line-height: 22px;
                                        text-transform: none;
                                        text-align: center;
                                        padding: 0;
                                        margin: 0;
                                      "
                                    >
                                      <!-- Subject Line: Welcome to the world's first network for cross-marketing collaborations!  -->
                                      <b>We're happy to see you here!</b>
                                      <br /><br />

                                      Your account has been created.
                                      <br />
                                      <br />

                                      Let's get you set up. To complete the
                                      sign-up process, you must:
                                      <br />

                                      1. Add a Company <br />
                                      2. Create an Outlet Profile <br />
                                      3. Invite Businesses you know or add
                                      Preferred Partners to your network <br />
                                      <br />

                                      <a
                                        href="https://www.xircls.com/merchant/progress-screen"
                                        ><button>Get Started</button></a
                                      >

                                      <br />
                                      <br />
                                      <b>Have questions?</b>
                                      <br />
                                      Head to our
                                      <a
                                        href="https://www.xircls.com/merchant/faqs"
                                        >Frequently Asked Questions</a
                                      >
                                      for answers. For more assistance, please
                                      get in touch.
                                      <br />
                                      <br />

                                      Thank you!<br /><br />

                                      <b>XIRCLS Support</b><br />
                                      +91 99693 33666<br />
                                      <i>Making brand partnerships easy.</i>
                                    </p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
