<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
      style="table-layout: fixed; background-color: #f9f9f9"
      id="bodyTable"
    >
      <tbody>
        <tr>
          <td
            style="padding-right: 10px; padding-left: 10px"
            align="center"
            valign="top"
            id="bodyCell"
          >
            <table
              border="0"
              cellpadding="0"
              cellspacing="0"
              width="100%"
              class="wrapperBody"
              style="max-width: 600px"
            >
              <tbody>
                <tr>
                  <td align="center" valign="top">
                    <table
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      width="100%"
                      class="tableCard"
                      style="
                        background-color: #fff;
                        border-color: #e5e5e5;
                        border-style: solid;
                        border-width: 0 1px 1px 1px;
                      "
                    >
                      <tbody>
                        <tr>
                          <td
                            style="padding-left: 20px; padding-right: 20px"
                            align="center"
                            valign="top"
                            class="containtTable ui-sortable"
                          >
                            <table
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              width="100%"
                              class="tableDescription"
                            >
                              <tbody>
                                <tr>
                                  <td
                                    align="center"
                                    valign="middle"
                                    style="padding: 20px 0px"
                                    class="emailRegards"
                                  >
                                    
                                    <p
                                      class="text"
                                      style="
                                        color: #666;
                                        font-family: 'Open Sans', Helvetica,
                                          Arial, sans-serif;
                                        font-size: 14px;
                                        font-weight: 400;
                                        font-style: normal;
                                        letter-spacing: normal;
                                        line-height: 22px;
                                        text-transform: none;
                                        text-align: center;
                                        padding: 0;
                                        margin: 0;
                                      "
                                    >
                                      <!-- Subject Line: Please verify your email address  -->
                                      <b>Hello,</b>
                                      <br /><br />

                                      Secure your account.
                                      <br />
                                      <br />

                                      Verify your email address
                                      <a href="{{ VerifyUrl }}"><button>here</button></a>
                                      <br /><br />
                                      Do this to prevent others from setting up accounts in your name.
                                      <br />
                                      <br />
                                      If you ever forget your password, the reset password link will be sent here.
                                      <br />
                                      <br />
                                      Thank you!<br /><br />
                                      <div>
                                        <img
                                          class="box-img"
                                          style="margin: 20px auto"
                                          src="https://www.xircls.com/static/images/website-slide/logo12.jpg"
                                          alt="Image"
                                          width="90px"
                                        />
                                      </div>
                                      <b>XIRCLS Support</b><br />
                                      +91 99693 33666<br />
                                      <i>Making brand partnerships easy.</i>
                                    </p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
