<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email Template</title>
  </head>
  <body>
    <table
      border="0"
      cellpadding="0"
      cellspacing="0"
      width="100%"
      style="table-layout: fixed; background-color: #f9f9f9"
      id="bodyTable"
    >
      <tbody>
        <tr>
          <td
            style="padding-right: 10px; padding-left: 10px"
            align="center"
            valign="top"
            id="bodyCell"
          >
            <table
              border="0"
              cellpadding="0"
              cellspacing="0"
              width="100%"
              class="wrapperBody"
              style="max-width: 600px"
            >
              <tbody>
                <tr>
                  <td align="center" valign="top">
                    <table
                      border="0"
                      cellpadding="0"
                      cellspacing="0"
                      width="100%"
                      class="tableCard"
                      style="
                        background-color: #fff;
                        border-color: #e5e5e5;
                        border-style: solid;
                        border-width: 0 1px 1px 1px;
                      "
                    >
                      <tbody>
                        <tr>
                          <td
                            style="padding-left: 20px; padding-right: 20px"
                            align="center"
                            valign="top"
                            class="containtTable ui-sortable"
                          >
                            <table
                              border="0"
                              cellpadding="0"
                              cellspacing="0"
                              width="100%"
                              class="tableDescription"
                            >
                              <tbody>
                                <tr>
                                  <td
                                    align="center"
                                    valign="middle"
                                    style="padding: 20px 0px"
                                    class="emailRegards"
                                  >
                                    <div>
                                      <img
                                        class="box-img"
                                        style="margin: 20px auto"
                                        src="https://www.xircls.com/static/images/website-slide/logo12.jpg"
                                        alt="Image"
                                        width="90px"
                                      />
                                    </div>
                                    <p
                                      class="text"
                                      style="
                                        color: #666;
                                        font-family: 'Open Sans', Helvetica,
                                          Arial, sans-serif;
                                        font-size: 14px;
                                        font-weight: 400;
                                        font-style: normal;
                                        letter-spacing: normal;
                                        line-height: 22px;
                                        text-transform: none;
                                        text-align: center;
                                        padding: 0;
                                        margin: 0;
                                      "
                                    >
                                      <!-- Subject Line: You’ve resumed your Semper Fi campaign! -->
                                      <b
                                        >You’ve resumed your Semper Fi
                                        campaign.</b
                                      ><br /><br />

                                      Your customers have begun receiving
                                      partner offers from you against real-time
                                      purchases/actions.
                                      <br />
                                      <br />

                                      <b>Get in touch!</b><br />
                                      We love to hear from our merchants. Tell
                                      us how we’re doing or let us know if you
                                      have a collaboration idea we can help
                                      with.<br />
                                      Write in at
                                      <a href="mailto:support@xircls.com"
                                        >support@xircls.com</a
                                      >
                                      or WhatsApp/call on +91 9969 333 666<br /><br />
                                    </p>
                                  </td>
                                </tr>
                              </tbody>
                            </table>
                          </td>
                        </tr>
                      </tbody>
                    </table>
                  </td>
                </tr>
              </tbody>
            </table>
          </td>
        </tr>
      </tbody>
    </table>
  </body>
</html>
